#
# Copyright (c) 2023 - for information on the respective copyright owner
# see the NOTICE file and/or the repository https://github.com/herdstat/herdstat.
#
# SPDX-License-Identifier: MIT
#

# Vendor folder
vendor

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
herdstat

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# GoLand
.idea

# herdstat
contribution-graph.svg
